<div id="lastResult">
    <h3><u>DERNIERS RÉSULTATS</u></h3>
    <b>{{lastResult}} du {{lastResultDate}}</b><br>
    Mise à jour le : {{lastResultMaj}}<br>
    <a href="/resultats/{{lastResultNum}}">Voir les résultats</a>
</div>
